@keyframes scaleFade {
    from { transform: scale(1.2); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

:root {
    --theme-color: #000000;

	/* --ck-color-button-default-background: var(--note-color);
	--ck-color-button-default-hover-background: rgba(0, 0, 0, 0.2);
	--ck-color-button-default-active-background: rgba(0, 0, 0, 0.4);
	--ck-color-button-default-disabled-background: transparent;

	--ck-color-button-on-background: rgba(0, 0, 0, 0.2);
	--ck-color-button-on-hover-background: rgba(0, 0, 0, 0.2);
	--ck-color-button-on-active-background: rgba(0, 0, 0, 0.4);
	--ck-color-button-on-disabled-background: transparent;
	--ck-color-button-on-color: rgba(0, 0, 0, 0.4);


	--ck-color-button-action-background: rgba(0, 0, 0, 0.4);
	--ck-color-button-action-hover-background: rgba(0, 0, 0, 0.2);
	--ck-color-button-action-active-background: rgba(0, 0, 0, 0.4);
	--ck-color-button-action-disabled-background: transparent;
	--ck-color-button-action-text: var(--theme-color);

	--ck-color-switch-button-off-background: transparent;
	--ck-color-switch-button-off-hover-background: rgba(0, 0, 0, 0.2);
	--ck-color-switch-button-on-background: rgba(0, 0, 0, 0.4);
	--ck-color-switch-button-on-hover-background: rgba(0, 0, 0, 0.2);
	--ck-color-switch-button-inner-background: rgba(0, 0, 0, 0.2);
	/*--ck-color-switch-button-inner-shadow:						hsla(0, 0%, 0%, 0.1); */



	/* --ck-color-dropdown-panel-background: var(--note-color) !important;
	--ck-color-dropdown-panel-border: var(--note-color) !important;

	--ck-color-list-background: var(--note-color) !important;
	--ck-color-list-button-hover-background: rgba(0, 0, 0, 0.2);
	--ck-color-list-button-on-background: rgba(0, 0, 0, 0.4);
	--ck-color-list-button-on-background-focus: transparent;
	--ck-color-list-button-on-text: var(--theme-color); */

	/* --ck-color-panel-background: var(--note-color) !important;
	--ck-color-panel-border: var(--note-color) !important;
	--ck-color-toolbar-background: var(--note-color) !important;
	--ck-color-toolbar-border: var(--note-color) !important; */

	/* -- Tooltip ------------------------------------------------------------------------------- */

	/* --ck-color-tooltip-background: 								var(--ck-color-base-text);
	--ck-color-tooltip-text: 									var(--ck-color-base-background); */

	/* -- Link -------------------------------------------------------------------------------- */

	/* --ck-color-link-default:									hsl(240, 100%, 47%);
	--ck-color-link-selected-background:						hsla(201, 100%, 56%, 0.1);
	--ck-color-link-fake-selection:								hsla(201, 100%, 56%, 0.3); */
}

body {
    font-size: 16px;
    font-family: "Nunito";
    color: var(--theme-color);
}

svg {
    fill: var(--theme-color);
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.appicon-dropdown-container {
    backdrop-filter: blur(2px);
    background: var(--note-color);
}

.appicon-dropdown-container {
    font-size: 16px;
    box-shadow: 0 0 2px 0 rgb(34 47 62 / 20%), 0 4px 8px 0 rgb(34 47 62 / 15%);
}

.appicon-dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.main-container {
    position: absolute;
    outline: none;
    top: 30px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 30px);
}

.colorpicker-background {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
}

.colorpicker-background.active {
    display: flex;
    animation: scaleFade forwards 0.2s ease;
}

.colorpicker-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 25px;
    padding: 25px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90vw;
    height: 90vh;
    max-width: 500px;
    max-height: 500px;
    background-color: #202020;
}

.colorpicker-color {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.colorpicker-color:hover:not(.selected) {
    transform: scale(1.15);
}

.colorpicker-color.selected .checkmark {
    display: inline-block;
}

.checkmark {
    display: none;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
}

.checkmark-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #202020;
}

.checkmark-stem {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 3px;
    height: 9px;
    background-color: #ffffff;
}

.checkmark-kick {
    position: absolute;
    top: 16px;
    left: 12px;
    width: 3px;
    height: 3px;
    background-color: #ffffff;
}

.ck-dropdown__panel {
	overflow-y: auto;
	max-height: 40vh;
}

.ck-dropdown__panel::-webkit-scrollbar {
    width: 8px !important;
}

.ck-dropdown__panel::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1) !important;
}

.ck-dropdown__panel::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3) !important;
}

.ck-editor__editable {
    border: none !important;
    box-shadow: none !important;
}

@media only screen and (max-width: 400px),
       screen and (max-height: 400px) {
    .colorpicker-container::after {
        top: -10px;
        left: -10px;
    }

    .colorpicker-container {
        gap: 10px;
        top: 10px;
        left: 10px;
        padding: 10px;
        width: calc(100vw - 20px);
        height: calc(100vh - 20px);
    }
}
